<div class="jumbotron">

<%= image_tag @instructor.image.url(:medium) %>

<p>
  <strong>First name:</strong>
  <%= @instructor.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @instructor.last_name %>
</p>

<p>
	<strong>Difficulty:</strong>
	<%=@avg_difficulty %>
</p>

<p>
	<strong>Quality:</strong>
	<%=@avg_quality %>
</p>

<p>
	<strong>WorkLoad:</strong>
	<%=@avg_workload%>
</p>

<p>
	<% if @reviews.blank? %>
  <h3> ... Unfortunately, this professor is probably new to Penn... </h3>
  <% else %>
    <% @reviews.each do |review| %>
       <p> Difficulty: <%=review.difficulty%>
           Workload: <%=review.workload%>
           Quality: <%=review.quality%>
           Course: <%=review.course%>
      </p>
      <p>
        <%=review.comment %>
      </p>
    <%end%>
  <%end%>
 </p>

<%= link_to 'Edit', edit_instructor_path(@instructor) %> |
<%= link_to 'Back', instructors_path %>

</div>