<% if !user_signed_in? %>
  <div class="jumbotron">
    <h2>Welcome to CisReview!!</h2>
    <p><%= link_to "Don't have an account? Sign Up One!", new_user_registration_path, class: "btn btn-primary btn-lg" %></p>
    <p><%= link_to "Have an account? Sign In Then!", new_user_session_path, class: "btn btn-primary btn-lg" %>
    </p>
</div>

<% else %>

<div class = "jumbotron">
<h2>Courses</h2>

<table class = "table">
  <thead>
    <tr class = "row">
      <th >Number</th>
      <th>Name</th>
      <th >Website</th>
      <th >Instructor</th>
    </tr>
  </thead>

  <tbody>
    <% @courses.each do |course| %>
      <tr class = "row">

        <td><%= course.number %></td>
        <td><%= course.name %></td>
        <td><%= course.website %></td>
        <td><% if course.instructor %>
          <%= course.instructor.first_name + " " + course.instructor.last_name %>
          <% else %>
          <%= "NOT YET AVAILABLE" %>
            <% end %>
          </td>
        <td><%= link_to 'Show', course %></td>
        <td><%= link_to 'Edit', edit_course_path(course) %></td>
        <td><%= link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

</div>

<%end%>